@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    position: fixed;
    background: #ECF0F3;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 999;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;

}
body::-webkit-scrollbar{
    display: none;
}
#heading1 {
    position: relative;
    left: 10px;
    top: 15px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #0c1154;
}

#heading2 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFA500;
}

/*section {
    width: 100%;
    height: 100vh;
}*/

header > h1 {
    font-size: 30px;
    top: 0px;
}

.menu ul li i{
    color: #ffa500;
    font-size: 20px;
    margin-right: 10px;
}

.menu {
    position: absolute;
    right: 10px;
    top: 0;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #0c1154;
}

main {
    position: relative;
    margin-top: 73px;
    width: 100%;
}

main #home {
    position: relative;
    background: #ffffff;
    width: 100%;
    height: 99vh;
    margin-top: -50px;

}

main #home section div:first-child>aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}

main #home section div:first-child>aside:nth-child(1)>h1:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    color:#0c1154;
}

main #home section div:first-child>aside:nth-child(1)>h1:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-left: 100px;
    margin-bottom: 0;

}

main #home section div:first-child>aside:nth-child(1)>h3:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    color:#0c1154;
}

main>section:nth-child(4)>section:nth-child(3)>nav:first-child {
    display: flex;
    background: #ECF0F3;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}

#home1{
    margin-left: 5%;
    margin-top: 11%;
    margin-right: 5%;
}

#home1 h1{
    font-size: 40px;
}


#dev1{
    color:#0c1154
}

#dev2{
    color: #FFA500
}

main #home section div:first-child>aside:nth-child(1)>section:nth-child(3)>h3 {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: #909597;
    margin-left: 100px;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav {
    display: flex;
    gap: 15px;
    margin-left: 100px;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav>div {
    width: 60px;
    height: 60px;
    background: rgba(236, 240, 243, 0.85);
    box-shadow: 1px -1px 5px #FFFFFF, 10px 10px 10px rgba(13, 39, 80, 0.16);
    border-radius: 15px;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div>a>i {
    position: relative;
    left: 23%;
    top: 20%;
    font-size: 2.40em;
    color: #909597;
    cursor: pointer;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div:nth-child(1)>a>i {
    font-size: 2.5em;
    top: 15%;
    left: 20%;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div:nth-child(4)>a>i {
    font-size: 2.5em;
    top: 17%;
    left: 17%;
}

main #home section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav>div:hover,
a>i:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    color: #FFA500 !important;
}

main #profile{
    width: 50px;
    height: 500px;
    background-size: cover;
    position: relative;
    bottom: 18px;
    alignment: right;
}

.profile {
    width: 550px;
    height: 550px;
    background-size: cover;
    position: relative;
    float: right;
    top: 20%;
    right: 85px;
    bottom: 20%;

}

/*----------------------about scetion --------------------------------*/
 main #about{
     position: relative;
     top: 0;
     width: 100%;
     height: 80vh;
     background: rgb(255, 255, 255);
     margin-top: -20px;
     margin-bottom: -20px;
 }

 main #about h2 {
     font-family: 'Poppins', sans-serif;
     font-size: 30px;
     line-height: 52px;
     margin-top: 0;
     margin-bottom: 24px;
     color: #0c1154;
 }

.profile2 {
    width: 500px;
    height: 500px;
    background-size: cover;
    position: relative;
    float: left;
    padding-right: 5%;
    padding-left: 3%;
}
.para {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.71) !important;
    margin-top: 0;
    font-weight: bold;
}

.para1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.71) !important;
    margin-top: 0;
    font-weight: bold;
}

.info {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 30px;

}

.a1>i, .a2>i, .a3>i, .a4>i{
    color: #FFA500;
    font-size: 1em;
    margin-right: 10px;
}

.info span{
    color: rgba(14, 14, 14, 0.71) !important;
}


.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(236, 240, 243, 0.85);
    box-shadow: 1px -1px 5px #FFFFFF, 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    /*margin-left: 20px;
    margin-top: 20px;*/
    margin-top: -53px;
    margin-left: -97px;
}
.wrapper .button:hover{
    width: 200px;
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #FFA500;
}

.wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
    color: #fff;
}
.wrapper .button span{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}
.wrapper .button:nth-child(1) span{
    color: #0c1154;
}

/*-------------------education section-------------------*/

main #education {
    width: 100%;
    height: 60vh;
    background-color: rgba(161, 147, 153, 0.69);
    margin-top: -20px;
    margin-bottom: -30px;


}

/*-------------------gallery section-------------------*/
main #gallery {
    position: relative;
    width: 100%;
    height: 106vh;
    background: #f3ecec;
    top: 100%;
    margin-top: -20px;


}

/**
* title in gallery section
*/

main #gallery section:first-child {
    position: relative;
    text-align: center;
    padding-top: 0;
    height: 0;
}


main #gallery section:first-child h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #0c1154;
}

main #gallery section:nth-child(2) {
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 108px;
    padding-bottom: 7px;
}

/**
* added section display type grid
*/

main #gallery section:nth-child(2)>section:first-child {
    width: 1100px;
    margin-left: 70px;
    margin-right: 70px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

/**
* customized all divs
*/

main #gallery section:nth-child(2)>section:first-child>div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}

/**
 * Customized 01 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
    background: url(../images/c1.jpg) center;
    background-size: cover;
    object-position: center;
    height: auto;
    background-repeat: no-repeat;
    background-position-y: -5vh;
    vertical-align: middle;
}


/**
 * Customized 02 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(2) {
    background: url("../images/c3.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 03 Image grid-column and grid-row
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/4;
    background: url("../images/c2.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 04 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(4) {
    background: url("../images/c10.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 05 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(5) {
    background: url("../images/c4.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 06 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(6) {
    background: url("../images/c5.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 07 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(7) {
    background: url("../images/c8.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
}

/**
 * Customized 08 Image grid-column and grid-row
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(8) {
    grid-column: 2/4;
    grid-row: 3/4;
    background: url("../images/c7.jpg") center;
    background-size: cover;
    object-position: center;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position-y: -50vh;


}

/**
 * Added Hover Effects
 */

main #gallery section:nth-child(2)>section:first-child>div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.68);
    cursor: pointer;
}
/*-------------------skills section-------------------*/
main .skills {
    background-color: #0c1154;
    width: 100%;
    height: 40vh;
    position: relative;
    margin-top: -20px;


}

.skills>h2{
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 7px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #f3f1ec;
}

#skillsCube {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 115px;
    top: 104px;
    margin-top: -20px;

}

main>section:nth-child(4)>section:nth-child(3) {
    position: absolute;
    left: 172px;
    top: 179px;
}

#skillsDashArrowShape {
    position: relative;
    width: 580px;
    height: 356px;
    fill: none;
    left: 0;
    right: 0;
    margin: auto;
}

.slider {
    height: 100px;
    margin: 70px;
    overflow: hidden;
    position: relative;
    width: max-content;
}

.slider .slide-track {
    animation: 50s linear infinite;
    animation-name: slider-animation;
    animation-direction: normal;
    display: flex;
    animation-delay: .5s;
    width: calc(100px * 14);
}

.slider .slide {
    height: 100px;
    width: 100px;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


main #projects{
    /*background-color: #909597;
    height: 120vh;
    width: 100%;
    top: 100%;
    margin-top: -20px;*/

    position: relative;
    top: 0;
    width: 100%;
    height: 110vh;
    margin-top: 0px;
    background: rgba(54, 121, 27, 0.4);
;

}


.wrapperProj .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: none;
    margin: 0 5px;
    overflow: hidden;
    background: rgba(236, 240, 243, 0.85);
    box-shadow: 1px -1px 5px #FFFFFF, 10px 10px 10px rgba(0,0,0,0.1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-left: 20px;
    margin-top: -7px;
}
.wrapperProj .button:hover{
    width: 200px;
}
.wrapperProj .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapperProj .button:nth-child(1):hover .icon{
    background: #FFA500;
    margin-left: -29px;
}

.wrapperProj .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapperProj .button:hover .icon i{
    color: #fff;
}
.wrapperProj .button span{
    font-size: 20px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;

}
.wrapperProj .button:nth-child(1) span{
    color: #0c1154;
}

main #projects section:first-child {
    position: relative;
    text-align: center;
    padding-top: 68px;
}

main #projects section:first-child>h4 {
    font-family: 'Lato', sans-serif;
    font-weight: initial;
    font-size: 25px;
    color: #FFA500 !important;
    text-align: center;
    padding-top: 12px;
    margin: 0;
}

main #projects section:first-child>h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: -26px;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: #0c1154;
}

/**
* title underline in project section
*/

main #projects section:first-child>h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 241px;
    height: 6px;
    background: #0c1154;
    bottom: 0;
    left: calc(50% - 295px);
    border-radius: 3px;
}

/**
* added section and display flex type project section
*/

main #projects section:nth-child(2) {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

/**
* added display flex and wrap project section
*/

.wrapper {
    width: 1400px;
    display: flex;
    gap: 55px;
    align-items: center;
    justify-content: center;
    margin-left: 67px;
    margin-right: 67px;
    flex-wrap: wrap;
}

/**
* position card project section
*/

.card {
    position: relative;
    width: 339px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}

/**
* added image padding project section
*/

.card-inner {
    padding-right: 30px;
}

/**
* position image project section
*/

.card-thumb {
    position: relative;
    z-index: 2;
    justify-content: center;
    margin-left: 50px;
    margin-right: -10px;
    margin-top: -23px;
}

/**
* customized image sizes project section
*/

.card-thumb img {
    width: 100%;
    border-radius: 51px;
    /*justify-content: center;
    margin-left: 67px;*/
}


/**
* added hover and color change project section
*/

.card-inner:hover .card-thumb span {
    background-color: #fff;
    color: #FFA500;
    box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.16), -23px -23px 45px #FFFFFF ;
}

/**
* customized card-details and position project section
*/

.card_detail {
    position: relative;
    height: 290px;
    z-index: 1;
    left: 30px;
    text-align: center;
    padding-top: 39px;
}

/**
* customized card and position project section
*/

.card_detail::before {
    position: absolute;
    content: " ";
    background-color: #ECF0F3;
    left: 0;
    right: 0;
    bottom: 0;
    top: -200px;
    z-index: -1;
    transition: .5s;
    border-radius: 70px 70px 70px 70px;;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
}

/**
* added hover and card-inner, card-detail color change project section
*/

.card-inner:hover .card_detail::before {
    background-color: #FFA500;
}

/**
* added hover heading, description and icon project section
*/

.card-inner:hover .card_detail h4,
.card-inner:hover .card_detail p,
.card-inner:hover .card_detail a {
    color: #fff;
}

/**
* customized heading project section
*/

.card_detail h4 {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: #444;
    margin: 1px 50px 15px;
    transition: .5s;
}

/**
* customized description project section
*/

.card_detail p {
    font-family: 'Poppins';
    font-size: 15px;
    color: #666;
    line-height: 1.5;
    transition: .5s;
    margin: 0 20px 20px;
}

/**
* customized icon project section
*/

.card_detail a {
    font-size: 27px;
    color: #FFA500;
    transition: .5s;
}


/*---------------------------Contact sction------------------------*/


/*main #contact{
    background-color: #540e4a;
    margin-top: -20px;
    width: 100%;
    height: 80vh;

}*/

#contact section:nth-child(2) {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns:  repeat(2, 1fr);
}

#contact{
    background-color: #ECF0F3;
}

#contact form {
    padding: 50px;
}

#contact aside {
    padding: 50px;
    background: #e7b609;
}

.heading_text{
   font-size: 30px;
    color: #0c1154;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    margin-top: -40px;
    margin-bottom: -48px;
    /*padding-bottom: 18px;*/
}

/* Target the form */
#contact #contact_form {
    display: flex;
    flex-direction: column;
    background: #ECF0F3;
    position: relative;
    margin: 50px;

    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}

/* Target the labels and inputs inside the form */
#contact #contact_form label {
    font-size: 16px;
    margin-bottom: 5px;
}

#contact #contact_form input[type="text"],
#contact #contact_form input[type="email"],
#contact #contact_form textarea {
    padding: 10px;
    /*border: #333960 solid 1px;*/
    margin-bottom: 20px;
}

#contact #contact_form textarea {
    height: 150px;
}

#contact #contact_form button[type="submit"] {
    background-color: #242944;
    border-bottom: #e7b609 2px solid;
    border-right: none;
    border-top: none;
    border-left: none;
    color: #fff;
    padding: 10px 20px;
    /*border: none;*/
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 25px;
}

#contact_form button[type="submit"] a, #contact_form button[type="submit"] i {
    font-style: normal;
    font-weight: bold;
    color: #e7b609;
    text-decoration: none;
}

#contact_form input {
    background: #F7F8FA;
    box-shadow: -1px -10px 45px #FFFFFF, 20px 20px 50px rgba(13, 39, 80, 0.16);
    border-radius: 43px;
    border: none;
    padding: 0 0 0 20px;
    height: 44px;
}

#contact_form textarea {
    background: #F7F8FA;
    box-shadow: -1px -10px 45px #FFFFFF, 20px 20px 50px rgba(13, 39, 80, 0.16);
    border-radius: 43px;
    border: none;
    padding: 20px 0 0 20px;
    height: 184px;
}

textarea {
    overflow: auto;
}

#contact #contact_form button[type="submit"]:hover {
    background-color: #242944;
}


/* Target the aside */
#contact #contact_info {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: 50px;
    background: #ECF0F3;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}

#contact #contact_info h3{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #0c1154;
    text-align: justify;
    margin-bottom: 20px;
}

main>section:nth-child(3)>section:nth-child(2)>section>div {
    position: relative;
    width: 320px;
    height: 320px;
    background: #f3f1ec;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}

/* Target the social media icons */
#contact #contact_info ul {
    list-style: none;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact #contact_info ul li {
    margin-right: 0;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#contact #contact_info ul li img {
    width: 70%;
}

#contact #contact_info ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_info p {
    text-align: center;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

 /*---------------------------footer sction------------------------*/
footer {
    position: relative;
    width: 100%;
    background-color: #0c1154;
    margin-top: 0px;
    padding-top: 0;

}

footer>section:first-child>div:first-child>h2:first-child {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

footer>section:first-child>div:first-child>h2:first-child>span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #FFA500;
}

footer>section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>section:first-child>div:first-child>nav:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 25px;
}


footer>section:first-child>div:first-child {
    display: flex;
    flex-direction: column;
}

footer>section:first-child>div:first-child>nav:nth-child(3)>ul:first-child {
    display: flex;
    justify-content: space-evenly;
    gap: 37px
}

/**
* customized social media icons covers in footer
*/

footer>section:first-child>div:first-child>nav:nth-child(2)>div {
    width: 50px;
    height: 50px;
    background: #0c1154;
    box-shadow: -4px -4px 12px rgba(236, 236, 236, 0.11), 4px 4px 1px rgba(0, 0, 0, 0.16);
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}


footer>section:first-child>div:first-child>nav:nth-child(2)>div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}

footer>section:first-child>div:first-child>nav:nth-child(2)>div:hover>a>i:hover {
    transition: all 0.5s ease;
    color: #FFA500 !important;
}


footer>section:first-child>div:first-child>nav:nth-child(2)>div>a>i {
    font-size: 2.00em;
    color: #909597;
    padding-top: 10px;
    cursor: pointer;
}


footer>section:first-child>div:first-child>nav:nth-child(3)>ul:first-child>li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
}

footer>section:first-child>div:first-child>nav:nth-child(3)>ul:first-child>li>a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #FFFFFF;
}


footer>section:first-child>div:first-child>nav:nth-child(3)>ul:first-child>li>a:hover {
    color: #FFA500;
    transition: 0.5s all;
}

/**
* customized copyrights section in footer
*/

footer>section:nth-child(3) {
    background: #0c1154;
    text-align: center;
}

/**
* added color copyrights section text in footer
*/

footer>section:nth-child(3)>small:first-child {
    color: #D3D3D3;
}

#aboutCube2 {
    display: none;
}

footer>section:first-child>div:first-child>h2:nth-child(4) {
    display: none;
}

footer>section:first-child>div:first-child>h2:nth-child(4)>span {
    display: none;
}



