@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
header {
    position: fixed;
    background: #ECF0F3;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 999;
}
body{
    overflow-x: hidden;
    overflow-y: scroll;

}
body::-webkit-scrollbar{
    display: none;
}
#heading1 {
    position: relative;
    left: 10px;
    top: 15px;
    text-decoration: none;
    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #0c1154;
}

#heading2 {
    font-family: "Agency FB";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #FFA500;
}

section {
    width: 100%;
    height: 100vh;
}

header > h1 {
    font-size: 30px;
    top: 0px;
}

.menu ul li i{
    color: #ffa500;
    font-size: 20px;
    margin-right: 10px;
}

.menu {
    position: absolute;
    right: 10px;
    top: 0;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #0c1154;
}

main {
    position: relative;
    margin-top: 73px;
    width: 100%;
}

main>section:nth-child(1) {
    position: relative;
    /*background: #ECF0F3;*/
    width: 100%;
    height: 100%;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>h1:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    color:#0c1154;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>h1:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    margin-left: 100px;
    margin-bottom: 0;

}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>h3:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 31px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 0;
    color:#0c1154;
}

main>section:nth-child(4)>section:nth-child(3)>nav:first-child {
    display: flex;
    background: #ECF0F3;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}

#home1{
    margin-left: 5%;
    margin-top: 8%;
}

#home1 h1{
    font-size: 40px;
}


#dev1{
    color:#0c1154
}

#dev2{
    color: #FFA500
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>h3 {
    font-family: 'Inter', sans-serif;
    font-size: 23px;
    color: #909597;
    margin-left: 100px;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav {
    display: flex;
    gap: 15px;
    margin-left: 100px;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav>div {
    width: 60px;
    height: 60px;
    background: rgba(236, 240, 243, 0.85);
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 15px;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div>a>i {
    position: relative;
    left: 23%;
    top: 20%;
    font-size: 2.40em;
    color: #909597;
    cursor: pointer;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div:nth-child(1)>a>i {
    font-size: 2.5em;
    top: 15%;
    left: 20%;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav:nth-child(2)>div:nth-child(4)>a>i {
    font-size: 2.5em;
    top: 17%;
    left: 17%;
}

main>section:nth-child(1)>section>div:first-child>aside:nth-child(1)>section:nth-child(3)>nav>div:hover,
a>i:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    color: #FFA500 !important;
}

main #profile{
    width: 50px;
    height: 500px;
    background-size: cover;
    position: relative;
    bottom: 18px;
    alignment: right;
}

.profile {
    width: 550px;
    height: 550px;
    background-size: cover;
    position: relative;
    float: right;
    top: 17%;
    right: 40px;
    bottom: 20%;

}

/*about section*/

main>section:nth-child(2) {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    margin-top: -20px;
    margin-bottom: -20px;
}

 main #about{
     width: 100%;
     height: 90vh;
 }

.profile2 {
    width: 500px;
    height: 500px;
    background-size: cover;
    position: relative;
    float: left;
    padding-right: 5%;
    padding-left: 3%;
}
.para {
    padding-right: 20px;
}

/*-------------------education section-------------------*/

main #education {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-top: -20px;


}

/*-------------------gallery section-------------------*/
main #gallery {
    position: relative;
    width: 100%;
    height: 110%;
    background: #f3ecec;
    top: 100%;


}

/**
* title in gallery section
*/

main #gallery section:first-child {
    position: relative;
    text-align: center;
    padding-top: 0;
    height: 0;
}

main #gallery section:first-child h4 {
    font-family: 'Lato', sans-serif;
    font-weight: initial;
    font-size: 25px;
    color: #FFA500 !important;
    text-align: center;
    padding-top: 12px;
    margin: 0;
}

main #gallery section:first-child h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
}

/**
* title underline in gallery section
*/

main #gallery section:first-child>h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: rgba(14, 14, 14, 0.71);
    bottom: -100px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main #gallery section:first-child h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 6px;
    background: #FFA500;
    bottom: 0;
    left: calc(50% - 20px);
    border-radius: 3px;
}

/**
* added section positions gallery section
*/

main #gallery section:nth-child(2) {
    position:  relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 7px;
}

/**
* added section display type grid
*/

main #gallery section:nth-child(2)>section:first-child {
    width: 1100px;
    margin-left: 70px;
    margin-right: 70px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

/**
* customized all divs
*/

main #gallery section:nth-child(2)>section:first-child>div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}

/**
 * Customized 01 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
    background: url("../images/c1.jpg") center;
    background-size: cover;
}

/**
 * Customized 02 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(2) {
    background: url("../images/c3.jpg") center;
    background-size: cover;
}

/**
 * Customized 03 Image grid-column and grid-row
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/4;
    background: url("../images/c2.jpg") center;
    background-size: cover;
}

/**
 * Customized 04 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(4) {
    background: url("../images/c10.jpg") center;
    background-size: cover;
}

/**
 * Customized 05 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(5) {
    background: url("../images/c4.jpg") center;
    background-size: cover;
}

/**
 * Customized 06 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(6) {
    background: url("../images/c5.jpg") center;
    background-size: cover;
}

/**
 * Customized 07 Image
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(7) {
    background: url("../images/c8.jpg") center;
    background-size: cover;
}

/**
 * Customized 08 Image grid-column and grid-row
 */

main #gallery section:nth-child(2)>section:first-child>div:nth-child(8) {
    grid-column: 2/4;
    grid-row: 3/4;
    background: url("../images/c7.jpg") center;
    background-size: cover;
}

/**
 * Added Hover Effects
 */

main #gallery section:nth-child(2)>section:first-child>div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.68);
    cursor: pointer;
}
/*-------------------skills section-------------------*/
main .skills {
    background-color: #0c1154;
    width: 100%;
    height: 50vh;
    position: relative;
    margin-top: -20px;


}

.skills>h2{
    color: #ECF0F3;
    alignment: center;
    left: 50px;
}

#skillsCube {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 115px;
    top: 104px;
}

main>section:nth-child(4)>section:nth-child(3) {
    position: absolute;
    left: 172px;
    top: 179px;
}

/*.slide-track {
    display: flex;
    background: #0c1154;
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 25px;
}*/

#skillsDashArrowShape {
    position: relative;
    width: 580px;
    height: 356px;
    fill: none;
    left: 0;
    right: 0;
    margin: auto;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
}

.slider .slide-track {
    animation: 50s linear infinite;
    animation-name: slider-animation;
    animation-direction: normal;
    display: flex;
    animation-delay: .5s;
    width: calc(100px * 14);
}

.slider .slide {
    height: 100px;
    width: 100px;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


main #projects{
    background-color: #909597;
    height: 120%;
    width: 100%;
    top: 100%;
    margin-top: -20px;


}

main #contact{
    background-color: antiquewhite;
    margin-top: -20px;

}

footer {
    width: 100%;
    height: 70%;
    bottom: 0;
    background-color: #0c1154;
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;


}

footer>h3{
    align-content: center;
    color: #ECF0F3;
}


